<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ArquivoOperacoes" value ="C:\Users\resource\Desktop\Importação e processamento de arquivo CSV\AquivosBase\Operacoes.csv"/>
    <add key="ArquivoDadosMercado" value="C:\Users\resource\Desktop\Importação e processamento de arquivo CSV\AquivosBase\DadosMercado.csv"/>
    <add key="DiretorioFinal" value="C:\Users\resource\Desktop\Importação e processamento de arquivo CSV\AquivosBase"/>
    <add key="CaminhoArquivoFinal" value="C:\Users\resource\Desktop\Importação e processamento de arquivo CSV\AquivosBase\Cálculo_Resultado_Exportação.csv"/>
    <add key="LocalAbertura" value="Explorer"/>
  </appSettings>
</configuration>